<header class="uk-header">

  <div class="uk-container uk-container-expand">

    <nav class="uk-navbar-container uk-navbar-transparent uk-navbar-mobile" uk-navbar>
      <div class="uk-navbar-left">
        <a href="{{ function('home_url', '/') }}" class="uk-logo uk-margin-auto uk-margin-large-top uk-margin-large-bottom">
          <img src="{{ options.navigatie_logo_kleur }}" uk-svg class="uk-preserve {{ image|default('') }}">
        </a>
      </div>
    </nav>

  </div>

</header>
