{#<div class="uk-offcanvas-content">#}
<div id="offcanvas" uk-offcanvas="overlay: true; flip: true">
  <div class="uk-offcanvas-bar">
    <div class="uk-offcanvas-header">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
    </div>
    <div class="uk-offcanvas-body">
      {% include 'components/nav-offcanvas.twig' %}
    </div>
  </div>
</div>
{#</div>#}
