{% include 'partials/header.twig' %}

<main class="uk-main">

  {% include 'components/section-main.twig'%}

  {% include 'components/section-ubr.twig'%}

  {% include 'components/section-whitepaper.twig'%}

  {% include 'components/section-portfolio-overview.twig'%}

  {% include 'components/section-webbio.twig'%}

</main>

{% include 'partials/footer.twig' %}
