<div class="uk-container uk-container-large">
  <div class="uk-margin">
    <div class="uk-container">
      <h1>Cards</h1>
      <div class="uk-margin">
        <h2>Blog</h2>
        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-blog">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <span class="uk-label">Categorie 1</span>
                  <h4 class="uk-card-desciption">Het belang van online privacy. Tenzij de prijs goed is.</h4>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-blog">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <span class="uk-label">Categorie 1</span>
                  <h4 class="uk-card-desciption">Het belang van online privacy. Tenzij de prijs goed is.</h4>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-blog">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <span class="uk-label">Categorie 1</span>
                  <h4 class="uk-card-desciption">Bedrijfsinformatie lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-blog">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <span class="uk-label">Categorie 1</span>
                  <h4 class="uk-card-desciption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>Specialist</h2>
        <div class="uk-child-width-1-4@m uk-child-width-1-3@s uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-image uk-cover-container">
                <img src="http://placehold.it/960x494" alt="">
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Business Partner Manager</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                 <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Administratie</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Commerciële binnendienst </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Telemarketing</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Telemarketing</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Telemarketing</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Telemarketing</p>
                </div>
              </div>
            </div>
          </div><div>
            <div class="uk-card uk-card-specialist">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Lorem ipsum</h3>
                  <p class="uk-card-desciption">Telemarketing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>Price</h2>
        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-price">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Feedback</h3>
                  <div class="uk-card-subtitle">
                    <span class="uk-price-field"> € <span class="uk-price-value">29</span> p.m. </span>
                  </div>
                  <p class="uk-card-desciption">SEO integratie <br> Google integratie</p>
                  <button class="uk-button uk-button-primary uk-button-animated">Probeer nu <span class="icon-arrow-long-right"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-price uk-active">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Pro</h3>
                  <div class="uk-card-subtitle">Op aanvraag</div>
                  <p class="uk-card-desciption">Multi-language<br>Custom uitnodigingen</p>
                  <button class="uk-button uk-button-primary uk-button-animated">Start direct<span class="icon-arrow-long-right"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-price">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Platinum</h3>
                  <div class="uk-card-subtitle">Op aanvraag</div>
                  <p class="uk-card-desciption">Custom review pagina<br>Toegang tot API</p>
                  <button class="uk-button uk-button-primary uk-button-animated">Start gratis<span class="icon-arrow-long-right"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-price">
              <div class="uk-card-media-top">
                <div class="uk-card-image uk-cover-container">
                  <img src="http://placehold.it/960x494" alt="">
                </div>
              </div>
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h3 class="uk-card-title">Customized Add Ons</h3>
                  <div class="uk-card-subtitle">Op aanvraag</div>
                  <p class="uk-card-desciption">Custom functies die we op maat voor u maken</p>
                  <button class="uk-button uk-button-primary uk-button-animated">Probeer direct<span class="icon-arrow-long-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>Feedback</h2>
        <div class="uk-card uk-card-feedback">
          <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-4 uk-card-media-left">
              <div class="uk-card-image uk-cover-container">
                <img src=" http://placehold.it/568x360" alt="">
              </div>
            </div>
            <div class="uk-width-3-4 uk-card-media-content">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Echt prettig feedback geven</h3>
                <p class="uk-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut urna purus. Sed semper vestibulum ipsum. Nullam at eros velit. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>Testimonial</h2>
        <div class="uk-card uk-card-testimonial">
          <div class="uk-grid uk-grid-collapse uk-child-width-1-2@s">
            <div class="uk-card-media-left">
              <div class="uk-card-video uk-cover-container">
                <img src=" http://placehold.it/568x360" alt="">
                <div class="uk-overlay-default uk-position-cover">
                  <div class="uk-position-center">
                    <span uk-overlay-icon="icon: play-circle"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-card-media-content">
              <div class="uk-card-body">
                <div class="uk-card-subtitle">Bekijk de ervaring van</div>
                <h2 class="uk-card-title">Ronald</h2>
                <p class="uk-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut erat sit amet velit ultricies vulputate eu tristique dolor. Vivamus molestie et dolor scelerisque posuere. Quisque at ipsum nec nibh tincidunt congue vitae quis neque.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>CTA</h2>
        <div class="uk-card uk-card-cta">
          <div class="uk-grid uk-grid-collapse uk-child-width-1-2@s">
            <div class="uk-flex-last@s uk-card-media-right">
              <div class="uk-card-image uk-cover-container">
                <img src="http://placehold.it/960x494" alt="">
              </div>
            </div>
            <div class="uk-card-media-content">
              <div class="uk-card-body">
                <div class="uk-card-block">
                  <h2 class="uk-card-title">Zelf onze tool ervaren</h2>
                  <button class="uk-button uk-button-primary uk-button-animated">Probeer gratis <span class="icon-arrow-long-right"></span></button>
                </div>
                <div class="uk-card-block">
                  <h2 class="uk-card-title">Zelf onze tool ervaren</h2>
                  <button class="uk-button uk-button-primary uk-button-animated">Probeer gratis <span class="icon-arrow-long-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>Company</h2>
        <div class="uk-card uk-card-company">
          <div class="uk-card-header">
            <div class="uk-grid uk-grid-medium">
              <div class="uk-card-media-left">
                <div class="uk-brand">
                  <img src="http://placehold.it/141x141/f01ed6/ffffff" alt="">
                </div>
              </div>
              <div class="uk-card-media-content">
                <div class="uk-card-block">
                  <div class="uk-card-subtitle">De case van Hoyhoy.nl </div>
                  <h2 class="uk-card-title">"100% klanttevredenheid, daar gaan we voor en Feedback Company helpt ons daar bij!"</h2>
                  <button class="uk-button uk-button-secondary">Meer lezen</button>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <ul class="uk-card-list">
              <li>
                <div class="uk-card-list-item">
                  <span class="uk-card-list-item-title">Aantal reviews</span>
                  <span class="uk-card-list-item-desc">11122</span>
                </div>
              </li>
              <li>
                <div class="uk-card-list-item">
                  <span class="uk-card-list-item-title">Branche</span>
                  <span class="uk-card-list-item-desc">Automotive</span>
                </div>
              </li>
              <li>
                <div class="uk-card-list-item">
                  <span class="uk-card-list-item-title">Klant sinds</span>
                  <span class="uk-card-list-item-desc">2007</span>
                </div>
              </li>
              <li>
                <div class="uk-card-list-item">
                  <span class="uk-card-list-item-title">Beoordeling</span>
                  <span class="uk-card-list-item-desc">4.7 / 5.0</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <h2>Stats</h2>
        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
          <div>
            <div class="uk-stats">
              <div class="uk-number-counter">
                  <span class="uk-stats-value">25%</span>
              </div>
              <div class="uk-stats-body">
                  <p class="uk-stats-desc">Conversie verhoging</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-stats">
              <div class="uk-number-counter">
                  <span class="uk-stats-value">30%</span>
              </div>
              <div class="uk-stats-body">
                  <p class="uk-stats-desc">Conversie verhoging</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-stats">
              <div class="uk-number-counter">
                  <span class="uk-stats-value">32%</span>
              </div>
              <div class="uk-stats-body">
                  <p class="uk-stats-desc">Conversie verhoging</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-stats">
              <div class="uk-number-counter">
                  <span class="uk-stats-value">150%</span>
              </div>
              <div class="uk-stats-body">
                  <p class="uk-stats-desc">Conversie verhoging</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>