<div class="uk-container uk-container-large">
  <div class="uk-margin">
    <h1>Typography</h1>
    <div class="uk-child-width-1-2@s" uk-grid>
      <div>
        <div class="uk-margin">
          <h1>h1 Lorem ipsum</h1>
          <span>Overpass Regular / 40 px / 50 px Leading / #281B3E</span>
        </div>
        <div class="uk-margin">
          <h2>h2 Lorem ipsum</h2>
          <span>Overpass Light / 30 px / 50 px Leading / #281B3E</span>
        </div>
        <div class="uk-margin">
          <h3>h3 Lorem ipsum</h3>
          <span>Overpass Semi Bold / 22 px / 32 px Leading / #DF0038</span>
        </div>
        <div class="uk-margin">
          <h4>h4 Lorem ipsum</h4>
          <span>Overpass Light / 20 px / 28 px Leading / #595959</span>
        </div>
        <div class="uk-margin">
          <p> 'ppp' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a erat mollis, mollis turpis non, consectetur nulla. Donec tellus est, eleifend eu augue eu, finibus ornare metus. Vivamus dui ex, vestibulum vitae porttitor nec, luctus finibus leo. Aliquam bibendum sapien a elementum commodo. Maecenas convallis tellus ultrices, elementum dui in, porttitor nunc. Sed at vehicula nibh. Mauris tempor ante nec pulvinar volutpat. </p>
          <span>Overpass Light / 18 px / 28 px Leading / #595959</span>
        </div>
      </div>
      <div>
        <h3 class="uk-margin">Text styles</h3>
        <div class="uk-margin">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut erat sit amet velit ultricies vulputate eu tristique dolor. Vivamus molestie et dolor scelerisque posuere. Quisque at ipsum nec nibh tincidunt congue vitae quis neque. Nam eget magna sit amet tortor ullamcorper imperdiet. Praesent gravida finibus velit ut suscipit. Phasellus pharetra nisl sit amet metus laoreet aliquam. Nullam tempor dui in arcu ullamcorper, malesuada viverra nisi fringilla. Sed molestie sit amet nisl in dictum. Nunc congue lorem condimentum mi finibus auctor. </p>
        </div>
        <div class="uk-margin">
          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              Praesent ut erat sit amet velit ultricies vulputate eu tristique dolor.
            </li>
            <li>
              Vivamus molestie et dolor scelerisque posuere.
            </li>
            <li>
              Quisque at ipsum nec nibh tincidunt congue vitae quis neque.
            </li>
            <li>
              Nam eget magna sit amet tortor ullamcorper imperdiet.
            </li>
          </ul>
          <ul type="check">
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              Praesent ut erat sit amet velit ultricies vulputate eu tristique dolor.
            </li>
            <li>
              Vivamus molestie et dolor scelerisque posuere.
            </li>
            <li>
              Quisque at ipsum nec nibh tincidunt congue vitae quis neque.
            </li>
            <li>
              Nam eget magna sit amet tortor ullamcorper imperdiet.
            </li>
          </ul>
        </div>
        <div class="uk-margin">
          <q>Praesent gravida finibus velit ut suscipit. Phasellus pharetra nisl sit amet metus laoreet aliquam. Nullam tempor dui in arcu ullamcorper, malesuada viverra nisi fringilla. Sed molestie sit amet nisl in dictum. Nunc congue lorem condimentum mi finibus auctor. </q>
        </div>
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
          <li>Praesent ut erat sit amet velit ultricies vulputate eu tristique dolor. </li>
          <li>Vivamus molestie et dolor scelerisque posuere. </li>
          <li>Vivamus molestie et dolor scelerisque posuere. </li>
          <li>Vivamus molestie et dolor scelerisque posuere. </li>
          <li>Vivamus molestie et dolor scelerisque posuere. </li>
          <li>Vivamus molestie et dolor scelerisque posuere. </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <h1>Buttons</h1>
    <div class="uk-child-width-1-2@s uk-margin-large" uk-grid>
      <div>
        <h3>Primary buttons</h3>
        <p class="uk-margin">
          <button class="uk-button uk-button-default">
            Bekijk op klantwebsite
          </button>
          <button class="uk-button uk-button-default">
            Bekijk op klantwebsite
          </button>
        </p>
    </div>
    <div>
      <h3>Secondary buttons</h3>
      <p class="uk-margin">
        <button class="uk-button uk-button-secondary">
          Button default
        </button>
        <button class="uk-button uk-button-secondary">
          Button hover
        </button>
      </p>
    </div>
  </div>
    <div class="uk-margin">
      <h1>Forms</h1>
      <form action="#" class="uk-child-width-1-2@s" uk-grid>
        <div class="uk-form-group">
          <input class="uk-input" type="text" placeholder="Input">
          <label class="uk-form-label">Input</label>
        </div>
        <div class="uk-form-group">
          <input class="uk-input" type="text" placeholder="selected" value="selected">
          <label class="uk-form-label">selected</label>
        </div>
        <div class="uk-form-group">
          <input class="uk-input uk-form-danger" type="text" placeholder="error" value="error">
          <label class="uk-form-label">error</label>
          <div class="uk-form-text uk-form-danger">Het e-mailadres is verkeerd</div>
        </div>
        <div class="uk-form-group">
          <input class="uk-input uk-form-success" type="text" placeholder="Verified">
          <label class="uk-form-label">selected</label>
        </div>
        <div class="uk-form-group">
          <label>
            <input class="uk-checkbox" type="checkbox" checked> A</label>
          <label>
            <input class="uk-checkbox" type="checkbox"> B</label>
        </div>
        <div class="uk-form-group">
          <label>
            <input class="uk-radio" type="radio" name="radio2" checked> A</label>
          <label>
            <input class="uk-radio" type="radio" name="radio2"> B</label>
        </div>
        <div class="uk-form-group">
          <select class="uk-select">
            <option>Option 01</option>
            <option>Option 02</option>
          </select>
          <label class="uk-form-label">selected</label>
        </div>
        <div class="uk-form-group">
          <textarea rows="1" class="uk-textarea"></textarea>
          <label class="uk-form-label">selected</label>
        </div>
      </form>
    </div>
