<div class="uk-card">
  <div class="uk-card-media-body">
    <div class="uk-card-body">
      <h2 class="uk-card-title">{{ item.title }}</h2>
      <div class="uk-card-content">{{ item.content}}</div>
      <span class="uk-card-letter">{{ item.title|slice(0, 1) }}</span>
    </div>
  </div>
</div>
