<div class="uk-section uk-section-method">
  <div class="uk-section-foreground">
    <div class="uk-section-header uk-h2 uk-margin-large-bottom">
      <div class="uk-container">
        <div class="uk-section-subtitle">
          {{ post.get_field('werkwijze_titel') }}
        </div>
        <div class="uk-section-image">
          <img class="lazy" data-src="{{ post.get_field('werkwijze_afbeelding') }}" alt="">
        </div>
      </div>
    </div>
    <div class="uk-section-body">
      <div class="uk-container">
          {% set vars = {
          'component': 'card-method',
          'count': method,
          'grid': 'uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-match uk-card-method'
          } %}
          {% include 'partials/iterator.twig' with vars %}
      </div>
    </div>
  </div>
</div>