<div class="uk-section">
  <div class="uk-section-header">
    <div class="uk-container"></div>
  </div>
  <div class="uk-section-body">
    <div class="uk-container"></div>
  </div>
  <div class="uk-section-footer">
    <div class="uk-container"></div>
  </div>
</div>

{# elements #}
<div class="uk-section-subtitle"></div>
<div class="uk-section-title"></div>
<div class="uk-section-description"></div>
<div class="uk-section-content"></div>
<div class="uk-section-actions"></div>
<div class="uk-section-background"></div>
<div class="uk-section-foreground"></div>
<div class="uk-section-overlay"></div>
<div class="uk-section-image"></div>
<div class="uk-section-actions"></div>